/*Archivo Basico de Skin*/
/*Colores*/
/*
Los colores A son Secundarios
Un color secundario se usa para acentuar las partes seleccionadas de su UI. 
Blue (500 #2196F3)
0 #FFFFFF
50 #E3F2FD
100 #BBDEFB
200 #90CAF9
300 #64B5F6
400 #42A5F5
500 #2196F3
600 #1E88E5
700 #1976D2
800 #1565C0
900 #0D47A1
1000 #000000
A100 #82B1FF
A200 #448AFF
A400 #2979FF
A700 #2962FF

Los colores secundarios se usan mejor para:

Botones, botones de acci�n flotante y texto de bot�n
Campos de texto, cursores y selecci�n de texto
Barras de progreso
Controles de selecci�n, botones y controles deslizantes
Campo de golf
Titulares
*/
/*BarraTop*/
/*Cuerpo*/
/*Cuerpo-Menu*/
.menu01.background-color {
  background-color: #ffffff;
  /*menu01.background-color*/
}
.menu02.background-color {
  background-color: #E3F2FD;
  /*menu02.background-color*/
}
.menu03.background-color {
  background-color: #E3F2FD;
  /*menu03.background-color*/
}
/*Cuerpo-Contenido*/
/*Plantilla*/
/*Plantilla*/
.ptlla-background-color {
  background-color: #E3F2FD;
  /*ptlla-background-color*/
}
.ptlla-fuente-color {
  color: #000000;
  /*ptlla-fuente-color*/
}
.ptlla-border-color {
  border-color: #E3F2FD;
  /*ptlla-border-background-color*/
}
.ptlla-cabecera-background-color {
  background-color: #BBDEFB;
  /*ptlla-cabecera-background-color*/
}
.ptlla-cabecera-fuente-color {
  color: #000000;
  /*ptlla-cabecera-fuente-color*/
}
.ptlla-cabecera-border-color {
  border-color: #2196F3;
  /*ptlla-cabecera-border-color*/
}
.ptlla-cuerpo-background-color {
  background-color: #fffff0;
  /*ptlla-cuerpo-background-color*/
}
.ptlla-cuerpo-fuente-color {
  background-color: #000000;
  /*ptlla-cuerpo-fuente-color*/
}
.ptlla-navegacion-background-color {
  background-color: #37b5e6;
  /*ptlla-navegacion-background-color*/
}
.ptlla-navegacion-fuente-color {
  background-color: #ffffff;
  /*ptlla-navegacion-fuente-color*/
}
/*Cuerpo-Notificaciones*/
.Cuerpo-Notificaciones-background-color {
  background-color: #64B5F6;
  /*Cuerpo-Notificaciones-background-color*/
}
.Cuerpo-Notificaciones-fuente-color {
  color: #ffffff;
  /*Cuerpo-Notificaciones-fuente-color*/
}
/*Color de la letra*/
.Cuerpo-Notificaciones-border-color {
  border-color: #64B5F6;
  /*header-border-color*/
}
/*BarraBottom*/
.footer-background-color {
  background-color: #BBDEFB;
  /*footer-background-color*/
}
.footer-fuente-color {
  color: #000000;
  /*footer-background-color*/
}
.footer-border-color {
  border-color: #2196F3;
  /*footer-border-color*/
}
/*Elementos Generales*/
.botonMenu01-background-color {
  background-color: #2196F3;
  /*botonMenu01-background-color*/
}
.botonMenu01-fuente-color {
  color: #ffffff;
  /*botonMenu01-fuente-color*/
}
.botonMenu01-border-color {
  border-color: #2196F3;
  /*botonMenu01-border-color*/
}
.botonMenu01-background-color-Hover {
  background-color: #448AFF;
  /*botonMenu01-background-color-Hover*/
}
.botonMenu01-fuente-color-Hover {
  color: #ffffff;
  /*botonMenu01-fuente-color-Hover*/
}
.botonMenu01-border-color-Hover {
  border-color: #448AFF;
  /*botonMenu01-border-color-Hover*/
}
.botonMenu02-background-color {
  background-color: #E3F2FD;
  /*botonMenu02-background-color*/
}
.botonMenu02-fuente-color {
  color: #000000;
  /*botonMenu02-fuente-color*/
}
.botonMenu02-border-color {
  border-color: #E3F2FD;
  /*botonMenu02-border-color*/
}
.botonMenu02-background-color-Hover {
  background-color: #90CAF9;
  /*botonMenu02-background-color-Hover*/
}
.botonMenu02-fuente-color-Hover {
  color: #000000;
  /*botonMenu02-fuente-color-Hover*/
}
.botonMenu02-border-color-Hover {
  border-color: #90CAF9;
  /*botonMenu02-border-color-Hover*/
}
.botonMenu03-background-color {
  background-color: #2196F3;
  /*botonMenu03-background-color*/
}
.botonMenu03-fuente-color {
  color: #ffffff;
  /*botonMenu03-fuente-color*/
}
.botonMenu03-border-color {
  border-color: #2962FF;
  /*botonMenu03-border-color*/
}
.botonMenu03-background-color-Hover {
  background-color: #448AFF;
  /*botonMenu03-background-color-Hover*/
}
.botonMenu03-fuente-color-Hover {
  color: #ffffff;
  /*botonMenu03-fuente-color-Hover*/
}
.botonMenu03-border-color-Hover {
  border-color: #448AFF;
  /*botonMenu03-border-color-Hover*/
}
.botonTipo01-background-color {
  background-color: #0D47A1;
  /*botonTipo01-background-color*/
}
.botonTipo01-fuente-color {
  color: #ffffff;
  /*botonTipo01-fuente-color*/
}
.botonTipo01-border-color {
  border-color: #0D47A1;
  /*botonTipo01-border-color*/
}
.botonTipo01-background-color-Hover {
  background-color: #2962FF;
  /*botonTipo01-background-color-Hover*/
}
.botonTipo01-fuente-color-Hover {
  color: #ffffff;
  /*botonTipo01-fuente-color-Hover*/
}
.botonTipo01-border-color-Hover {
  border-color: #2962FF;
  /*botonTipo01-border-color-Hover*/
}
.botonTipo02-background-color {
  background-color: #2196F3;
  /*botonTipo02-background-color*/
}
.botonTipo02-fuente-color {
  color: #ffffff;
  /*botonTipo02-fuente-color*/
}
.botonTipo02-border-color {
  border-color: #2962FF;
  /*botonTipo02-border-color*/
}
.botonTipo02-background-color-Hover {
  background-color: #448AFF;
  /*botonTipo02-background-color-Hover*/
}
.botonTipo02-fuente-color-Hover {
  color: #ffffff;
  /*botonTipo02-fuente-color-Hover*/
}
.botonTipo02-border-color-Hover {
  border-color: #448AFF;
  /*botonTipo02-border-color-Hover*/
}
.botonTipo03-background-color {
  background-color: #E3F2FD;
  /*botonTipo03-background-color*/
}
.botonTipo03-fuente-color {
  color: #000000;
  /*botonTipo03-fuente-color*/
}
.botonTipo03-border-color {
  border-color: #E3F2FD;
  /*botonTipo03-border-color*/
}
.botonTipo03-background-color-Hover {
  background-color: #90CAF9;
  /*botonTipo02-background-color-Hover*/
}
.botonTipo03-fuente-color-Hover {
  color: #000000;
  /*botonTipo03-fuente-color-Hover*/
}
.botonTipo03-border-color-Hover {
  border-color: #90CAF9;
  /*botonTipo03-border-color-Hover*/
}
.barraNavegar-1-background-color {
  background-color: #E3F2FD;
  /*barraNavegar-1-background-color*/
}
.barraNavegar-1-fuente-color {
  color: #000000;
  /*barraNavegar-1-fuente-color*/
}
.barraNavegar-1-border-color {
  border-color: #E3F2FD;
  /*barraNavegar-1-border-color*/
}
.barraNavegar-2-background-color {
  background-color: #E3F2FD;
  /*barraNavegar-2-background-color*/
}
.barraNavegar-2-fuente-color {
  color: #000000;
  /*barraNavegar-2-fuente-color*/
}
.barraNavegar-2-border-color {
  border-color: #E3F2FD;
  /*barraNavegar-2-border-color*/
}
.barraNavegar-texto-background-color {
  background-color: #ffffff;
  /*barraNavegar-texto-background-color*/
}
.barraNavegar-texto-fuente-color {
  color: #000000;
  /*barraNavegar-texto-fuente-color*/
}
.barraNavegar-texto-border-color {
  border-color: #2196F3;
  /*barraNavegar-texto-border-color*/
}
.barraNavegar-texto-d-background-color {
  background-color: #E3F2FD;
  /*barraNavegar-texto-d-background-color*/
}
.barraNavegar-texto-d-fuente-color {
  color: #000000;
  /*barraNavegar-texto-d-fuente-color*/
}
.barraNavegar-texto-d-border-color {
  border-color: #2962FF;
  /*barraNavegar-texto-d-border-color*/
}
/*******************************************************************/
/*.barraTop-Div                                                    */
/*Barra superior aplicacion definicon general cualquier dispositivo*/
/*******************************************************************/
.barraTop-Div {
  /*border: 1px solid black;*/
  background-color: #0D47A1;
  color: #E3F2FD;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  overflow: hidden;
  /*Oculta las barras de edesplazamiento*/
  padding: 0px;
  z-index: -1;
}
.barraTop-Table {
  /*border: 1px solid black;*/
  color: #E3F2FD;
  font-size: 20px;
  width: 100%;
  height: 100%;
}
[class*="barraTop-logo-"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: block;
  margin: auto;
}
[class*="ico-cargando-"] {
  font-size: 25px;
  /*display: none;*/
}
.menuAuxDer {
  background-color: #E3F2FD;
  /*menu03.background-color*/
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.12);
  display: none;
  position: fixed;
  top: 8%;
  right: 10px;
  text-align: center;
  vertical-align: middle;
  padding: 10px 10px 10px 10px;
}
.menuAux ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*Cometar cada boton e indicar que cada uynao se define en el entorno*/
/*******************************************************************/
/*.barraTop-Div  Fin                                                    */
/*******************************************************************/
/*Cuerpo de la aplicacion definicon general cualquier dispositivo*/
/*Note que cuerpo-Div.Top  = barraTop-Div. height  */
.cuerpo-Div {
  width: 100%;
  position: fixed;
  top: 8%;
  left: 0;
  height: 84%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  z-index: -1;
}
.row {
  display: inline;
}
/*Cuerpo de la aplicacion definicon general cualquier dispositivo*/
/*Note: barraTop-Div.height  +  cuerpo-Div.height  +  barraBottom-Div.height = 100%*/
.barraBottom-Div {
  background-color: #BBDEFB;
  /*footer-background-color*/
  color: #000000;
  /*footer-background-color*/
  font-size: 14px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8%;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  z-index: -1;
}
/*GENERAL*/
* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
html {
  font-family: "FontAwesome", "Lucida Sans", sans-serif;
}
.menu {
  /*    overflow: scroll;*/
  height: 100%;
}
.cuerpo-Contenido {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}
.cuerpo-Notas {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*Estilo de boton de menu #1*/
.botonMenu01 {
  background-color: #2196F3;
  /*botonMenu01-background-color*/
  color: #ffffff;
  /*botonMenu01-fuente-color*/
  padding: 8px;
  margin-bottom: 7px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
.botonMenu01:hover {
  background-color: #448AFF;
  /*botonMenu01-background-color-Hover*/
  color: #ffffff;
  /*botonMenu01-fuente-color-Hover*/
}
/*Estilo de boton de menu #2*/
.botonMenu02 {
  background-color: #E3F2FD;
  /*botonMenu02-background-color*/
  color: #000000;
  /*botonMenu02-fuente-color*/
  cursor: pointer;
}
.botonMenu02:hover {
  background-color: #90CAF9;
  /*botonMenu02-background-color-Hover*/
  color: #000000;
  /*botonMenu02-fuente-color-Hover*/
}
/*Estilo de boton de menu #3*/
.botonMenu03 {
  background-color: #2196F3;
  /*botonMenu03-background-color*/
  color: #ffffff;
  /*botonMenu03-fuente-color*/
  padding: 8px;
  margin-bottom: 7px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.botonMenu03:hover {
  background-color: #448AFF;
  /*botonMenu03-background-color-Hover*/
  color: #ffffff;
  /*botonMenu03-fuente-color-Hover*/
}
.aside {
  background-color: #64B5F6;
  /*Cuerpo-Notificaciones-background-color*/
  color: #ffffff;
  /*Cuerpo-Notificaciones-fuente-color*/
  padding: 15px;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.menuPrincipal-Tabla {
  height: 100%;
  width: 100%;
}
.menuPrincipal-Tabla-Titulo {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #2196F3;
  /*botonMenu01-background-color*/
  color: #ffffff;
  /*botonMenu01-fuente-color*/
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.menuPrincipal-Tabla-OpcVariables {
  padding: 5px 5px 5px 5px;
  background-color: #E3F2FD;
  /*menu02.background-color*/
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.12);
}
.menuPrincipal-Tabla-OpcFijas {
  padding: 5px 5px 5px 5px;
  background-color: #E3F2FD;
  /*menu02.background-color*/
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.12);
}
.menuPrincipal-Tabla-sistemas {
  padding: 5px 5px 5px 5px;
  background-color: #ffffff;
  /*menu01.background-color*/
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.12);
}
/***************************/
.selectPlantilla {
  /*height: 100%;*/
  padding: 0px 0px 10px 0px;
}
.ptlla {
  background-color: #E3F2FD;
  /*ptlla-background-color*/
  color: #000000;
  /*ptlla-fuente-color*/
  border-color: #E3F2FD;
  /*ptlla-border-background-color*/
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
}
.ptlla-Cabecera {
  background-color: #BBDEFB;
  /*ptlla-cabecera-background-color*/
  color: #000000;
  /*ptlla-cabecera-background-color*/
  width: 100%;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  border: none;
  margin: 0px;
  padding: 0px;
}
.ptlla-Cabecera-Selector {
  width: 60px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  border: none;
  margin: 0px;
  padding: 0px;
}
.ptlla-Cabecera-Titulo {
  text-align: center;
  vertical-align: middle;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.ptlla-Cabecera-Espcio {
  width: 5px;
  height: 30px;
}
.ptlla-Cabecera-Tools {
  width: 120px;
  height: 100%;
  text-align: right;
  vertical-align: middle;
  border: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.ptlla-Cuerpo {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  display: table-row;
}
.ptlla-Cuerpo-td {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.ptlla-Navegacion {
  width: 100%;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  display: table-row;
}
.ptlla-Navegacion-Contenido {
  width: 100%;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}
.barraNavegar-1 {
  background-color: #E3F2FD;
  /*barraNavegar-1-background-color*/
  color: #000000;
  /*barraNavegar-1-fuente-color*/
  display: block;
  text-align: center;
}
.barraNavegar-2 {
  background-color: #E3F2FD;
  /*barraNavegar-2-background-color*/
  color: #000000;
  /*barraNavegar-1-fuente-color*/
  display: none;
  text-align: center;
}
.barraNavegar-boton {
  background-color: #2196F3;
  /*botonTipo02-background-color*/
  color: #ffffff;
  /*botonTipo02-fuente-color*/
  border-color: #2962FF;
  /*botonTipo02-border-color*/
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 25px;
  height: 25px;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 1px 1px 1px 1px;
  position: relative;
  /*right: 5px;*/
}
.barraNavegar-boton:hover {
  background-color: #448AFF;
  /*botonTipo02-background-color-Hover*/
  color: #ffffff;
  /*botonTipo02-fuente-color-Hover*/
  border-color: #448AFF;
  /*botonTipo02-border-color-Hover*/
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.barraNavegar-texto {
  background-color: #ffffff;
  /*barraNavegar-texto-background-color*/
  color: #000000;
  /*barraNavegar-texto-fuente-color*/
  border-color: #2196F3;
  /*barraNavegar-texto-border-color*/
  width: 52px;
  font-size: 12px;
}
.barraNavegar-texto-d {
  background-color: #E3F2FD;
  /*barraNavegar-texto-d-background-color*/
  color: #000000;
  /*barraNavegar-texto-d-fuente-color*/
  border-color: #2962FF;
  /*barraNavegar-texto-d-border-color*/
  border: none;
  width: 65px;
  font-size: 12px;
}
.iboxTools {
  /*   display: inline;*/
  width: 120px;
  height: 100%;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}
.iboxTools-Boton {
  background-color: #0D47A1;
  /*botonTipo01-background-color*/
  color: #ffffff;
  /*botonTipo01-fuente-color*/
  border-color: #0D47A1;
  /*botonTipo01-border-color*/
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 25px;
  height: 25px;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  padding: 1px 1px 1px 1px;
  cursor: pointer;
}
.iboxTools-Boton:hover {
  background-color: #2962FF;
  /*botonTipo01-background-color-Hover*/
  color: #ffffff;
  /*botonTipo01-fuente-color-Hover*/
  border-color: #2962FF;
  /*botonTipo01-border-color-Hover*/
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
/*-s    small*/
/*-m    medio*/
/*-f    full

/* DispositivosPeque?osAncho */
[class*="col-"] {
  width: 100%;
  padding: 5px;
}
[class*="barraTop-Table-Menu-"] {
  /*border: 1px solid black;*/
  width: 35px;
  font-weight: bold;
  font-size: 32px;
  background-color: #0D47A1;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
[class*="barraTop-Table-Boton-"] {
  /*border: 1px solid black;*/
  width: 32px;
  font-size: 25px;
  background-color: #0D47A1;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
[class*="barraTop-Table-Titulo-"] {
  /*border: 1px solid black;*/
  font-size: 30px;
  background-color: #0D47A1;
  vertical-align: middle;
  text-align: left;
}
[class*="barraTop-Table-Espaciador-"] {
  /*border: 1px solid black;*/
  width: 5px;
  font-size: 30px;
  background-color: #0D47A1;
  vertical-align: middle;
  text-align: center;
}
[clas*="menuPrincipal-"] {
  display: block;
}
[clas*="cuerpo-Notas-"] {
  display: block;
}
/*******************************************************/
/*-s DispositivosPeque�os  (Celulares)                 */
/*******************************************************/
@media only screen and (max-width: 599px) {
  /*ColumnasGenerales cubiertas por:	*/
  /*DispositivosPeque?osAncho			*/
  .barraTop-Table-Menu-s {
    /*border: 1px solid black;*/
    width: 32px;
    font-weight: bold;
    font-size: 15px;
    background-color: #0D47A1;
    vertical-align: middle;
    text-align: center;
  }
  .barraTop-Table-Boton-s {
    /*border: 1px solid black;*/
    width: 32px;
    font-size: 15px;
    background-color: #0D47A1;
    vertical-align: middle;
    text-align: center;
  }
  .barraTop-Table-Titulo-s {
    /*border: 1px solid black;*/
    font-size: 15px;
    background-color: #0D47A1;
    vertical-align: middle;
    text-align: left;
  }
  .barraTop-Table-Espaciador-s {
    /*border: 1px solid black;*/
    width: 5px;
    font-size: 5px;
    background-color: #0D47A1;
    vertical-align: middle;
    text-align: center;
  }
  .menuPrincipal-s {
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .cuerpo-Notas-s {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .ico-cargando-s {
    width: 24px;
    font-size: 15px;
  }
  .barraTop-logo-s {
    width: 20px;
    height: 20px;
  }
  .ptlla-Cabecera-Titulo-s {
    font-size: 12px;
  }
  .cuerpo-Div-s {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
/*-s DispositivosPeque?os FIN*/
/*******************************************************/
/*-m DispositivosMedianos (Tablets)                    */
/*******************************************************/
@media only screen and (min-width: 600px) {
  /*ColumnasGenerales */
  .col-m-1 {
    width: 8.33%;
    padding: 5px;
  }
  .col-m-2 {
    width: 16.66%;
    padding: 5px;
  }
  .col-m-3 {
    width: 25%;
    padding: 5px;
  }
  .col-m-4 {
    width: 33.33%;
    padding: 5px;
  }
  .col-m-5 {
    width: 41.66%;
    padding: 5px;
  }
  .col-m-6 {
    width: 50%;
    padding: 5px;
  }
  .col-m-7 {
    width: 58.33%;
    padding: 5px;
  }
  .col-m-8 {
    width: 66.66%;
    padding: 5px;
  }
  .col-m-9 {
    width: 75%;
    padding: 5px;
  }
  .col-m-10 {
    width: 83.33%;
    padding: 5px;
  }
  .col-m-11 {
    width: 91.66%;
    padding: 5px;
  }
  .col-m-12 {
    width: 100%;
    padding: 5px;
  }
  .barraTop-Table-Menu-m {
    /*border: 1px solid black;*/
    width: 36px;
    font-weight: bold;
    font-size: 20px;
    background-color: #0D47A1;
    vertical-align: middle;
    text-align: center;
  }
  .barraTop-Table-Boton-m {
    /*border: 1px solid black;*/
    width: 36px;
    font-size: 20px;
    background-color: #0D47A1;
    vertical-align: middle;
    text-align: center;
  }
  .barraTop-Table-Titulo-m {
    /*border: 1px solid black;*/
    font-size: 20px;
    background-color: #0D47A1;
    vertical-align: middle;
    text-align: left;
  }
  .barraTop-Table-Espaciador-m {
    /*border: 1px solid black;*/
    width: 36px;
    font-size: 20px;
    background-color: #0D47A1;
    vertical-align: middle;
    text-align: center;
  }
  .menuPrincipal-m {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .cuerpo-Notas-m {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .barraTop-logo-m {
    width: 26px;
    height: 26px;
  }
  .ico-cargando-m {
    width: 36px;
    font-size: 20px;
  }
  .ptlla-Cabecera-Titulo-m {
    font-size: 14px;
  }
  .cuerpo-Div-m {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
/*-m DispositivosMedianos FIN*/
/*-f DispositivosGrandes (desktop, tvs) */
@media only screen and (min-width: 768px) {
  /*ColumnasGenerales */
  .col-1 {
    width: 8.33%;
    padding: 10px;
  }
  .col-2 {
    width: 16.66%;
    padding: 10px;
  }
  .col-3 {
    width: 25%;
    padding: 10px;
  }
  .col-4 {
    width: 33.33%;
    padding: 10px;
  }
  .col-5 {
    width: 41.66%;
    padding: 10px;
  }
  .col-6 {
    width: 50%;
    padding: 10px;
  }
  .col-7 {
    width: 58.33%;
    padding: 10px;
  }
  .col-8 {
    width: 66.66%;
    padding: 10px;
  }
  .col-9 {
    width: 75%;
    padding: 10px;
  }
  .col-10 {
    width: 83.33%;
    padding: 10px;
  }
  .col-11 {
    width: 91.66%;
    padding: 10px;
  }
  .col-12 {
    width: 100%;
    padding: 10px;
  }
  .barraTop-Table-Menu-f {
    /*border: 1px solid black;*/
    width: 48px;
    font-weight: bold;
    font-size: 32px;
    vertical-align: middle;
    text-align: center;
    background-color: #0D47A1;
  }
  .barraTop-Table-Boton-f {
    /*border: 1px solid black;*/
    width: 48px;
    font-size: 32px;
    background-color: #0D47A1;
    vertical-align: middle;
    text-align: center;
  }
  .barraTop-Table-Titulo-f {
    /*border: 1px solid black;*/
    font-size: 32px;
    background-color: #0D47A1;
    vertical-align: middle;
    text-align: left;
  }
  .barraTop-Table-Espaciador-f {
    /*border: 1px solid black;*/
    width: 48px;
    font-size: 32px;
    background-color: #0D47A1;
    vertical-align: middle;
    text-align: center;
  }
  .menuPrincipal-f {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .cuerpo-Notas-f {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .barraTop-logo-f {
    width: 32px;
    height: 32px;
  }
  .ico-cargando-f {
    width: 48px;
    font-size: 32px;
  }
  .ptlla-Cabecera-Titulo-f {
    font-size: 16px;
  }
  .cuerpo-Div-f {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
/*-f DispositivosGrandes FIN*/
/*****************************************************/
/*******      FINAL DISE�O RESPONSIVO       **********/
/*****************************************************/
.Tabs-Cab {
  /*border-style: solid;*/
  /*display: block;*/
  height: 50px;
  text-align: center;
  vertical-align: middle;
  overflow-x: hidden;
  overflow-y: scroll;
}
.Tabs-Cab-TabLink {
  background-color: #E3F2FD;
  /*botonTipo03-background-color*/
  color: #000000;
  /*botonTipo03-fuente-color*/
  border-color: #E3F2FD;
  /*botonTipo03-border-color*/
  border-style: solid;
  height: 35Px;
  margin: 5px 0px 5px 0px;
  float: left;
  outline: none;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.Tabs-Cab-TabLink-Active {
  background-color: #448AFF;
  /*botonTipo02-background-color-Hover*/
  color: #ffffff;
  /*botonTipo02-fuente-color-Hover*/
  border-color: #2962FF;
  /*botonTipo02-border-color*/
  border-style: solid;
  height: 35Px;
  margin: 5px 0px 5px 0px;
  float: left;
  outline: none;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.Tabs-Contenido-Active {
  display: inline;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  visibility: visible;
  position: relative;
  top: 0px;
  left: 0px;
}
.Tabs-Contenido {
  display: none;
  visibility: hidden;
  position: relative;
  bottom: 0px;
  left: 0px;
}
select {
  height: 25px;
}
/****************************************************************************/
/*Estilos de iTramite*/
.iTramite-Div {
  border-style: none;
  /*overflow-x: scroll;*/
  /*    display: table;*/
}
.iTramite-Task-Div {
  /*    border-style: solid;*/
  /*overflow-x: scroll;*/
  display: inline-block;
  vertical-align: middle;
}
.iTramite-Task-Tabla {
  /*    border-style: dotted;
    border-width: 1px;*/
  /*border-collapse: collapse;*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 10px 10px 10px;
  width: 300px;
}
.iTramite-Consulta-Celda-Cabecera {
  background-color: #448AFF;
  /*botonTipo02-background-color-Hover*/
  color: #ffffff;
  /*botonTipo02-fuente-color-Hover*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 30px;
  padding: 10px 10px 10px 10px;
}
.iTramite-Consulta-Celda-Titulo {
  /*    border-style: solid;*/
  background-color: #BBDEFB;
  /*ptlla-cabecera-background-color*/
  color: #000000;
  /*ptlla-cabecera-fuente-color*/
  border-color: #2196F3;
  /*ptlla-cabecera-border-color*/
  padding: 5px 5px 5px 5px;
}
.iTramite-Consulta-Celda {
  /*    border-style: solid;*/
  background-color: #ffffff;
  /*ptlla-cuerpo-background-color*/
  color: #000000;
  /*ptlla-cuerpo-fuente-color*/
  padding: 5px 5px 5px 5px;
}
/*# sourceMappingURL=StyleSkin.css.map */